.container.THIS {
   height: 100%;
   width: 100%;
   font-family: sans-serif;
   padding: 20px 25px;
   display: table;
}

.h4.THIS {
    font-weight: 800 !important; 
    display: table-caption;
}

.row.THIS::before, .row.THIS::after {
    background-color: rgba(168, 172, 176, 0.6) !important;
    content: " ";
    display: flex;
}
.row.THIS::after {
    clear: both;
    display: flexbox;
}
.col-sm-12.THIS {
    width: 100%;
}

.col-sm-6.THIS {
    width: 50%;
}

.center.THIS {
    text-align: center;
    vertical-align: middle;
}
