.THIS .uiInputDate .display {
    display: inline !important;
    left: 5 !important;
}

.THIS div#alertWarningDiv {
    display: none !important;
}

.THIS div#thankYouAlert {
    display: none !important;
}
